{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "extends": "react-app",
    "rules": {
        "jsx-a11y/heading-has-content": [0],
        "jsx-a11y/anchor-has-content": [0]
    }
}
